.react-datepicker-wrapper {
  display: block !important;
}
.react-datepicker-wrapper ~ .invalid-feedback {
  display: block !important;
}

.task-header {
  padding-top: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  margin-left: 5px;
}

@media (max-width: 576px) {
  .task-header {
    flex-direction: column;
    align-items: stretch;
  }

  .search-container {
    width: 100%;
    justify-content: space-between;
  }

  .search-container .form-control {
    margin-right: 5px;
  }

  .search-button {
    width: 25%;
    margin-left: 0;
  }
}

.search-container .form-control:focus,
.search-button:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button:hover {
  background-color: #0056b3;
  border-color: #004085;
}
